html, body {
    background-color:#d1d7ea;
    margin-bottom:20px;
}
#post {
    width: 60%;
    margin: auto;
    background-color:gray;
}
.banner {
    width: 60%;
    height: 300px;
    margin: auto;
    background-image: linear-gradient(white, rgb(78, 77, 77));
    border-bottom-left-radius: 3px;         
    border-bottom-right-radius: 3px;
    box-shadow: 1px 1px 5px rgba(122, 126, 136, 0.342);
}
#overlay {
    position:absolute;
    background-color:#4267B2;
    z-index:1;
    height: 21%;
    width: 13%;
    margin-left: 20%;
    transform: translate(11%, -111%);
    border-radius: 4px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:90px;
    color:white;
}
.warning {
    margin-top: 2vh;
    text-align:center;
    color:black;
    max-width: 24%;
    margin-left: 38%;
    margin-right: 38%;
    font-size: 18px;
    justify-content: space-between;
}

.buttons {
    justify-content:center; 
    margin:auto;
    width: 14%;
    display: flex;
}
.btn-primary {
    margin-left:10px;
    font-weight:bold;
    background-color:#4267B2;
}
.btn-primary:hover {
    transition:0.2s;
    background-color:#2b416e;
}
.btn-success {
    font-weight:bold;
}
img {
    width: 8%;
    display:block;
    margin:auto;
    margin-top:15%;
    filter: opacity(60%);
}